*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif;  */
}
body{
    line-height: 1.5;
}
p{
    font-size: 19px;
}
header{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 107);
    height: 80px;
    padding-top: 20px;
    position:fixed;
    width: 100%;
}

 .logo{
    padding-left: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
    color: #56595b; 
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
       
}
.nav-links{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    gap: 30px;
    padding-right: 10%;
}
.nav-links li{
    list-style-type: none;
    text-decoration: none;

}
.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 107);
}
 a:hover{
    color: #ffffff;
    background-color: rgb(0, 0, 107);
}
.hero{
    height: 500px;
    color: #ffffff;
    background-color:  rgb(0, 0, 107);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    
}
.hero img{
    width: 250px;
    border-radius: 50%;
    margin-left: 250px;
    
    
}
.desc{
    display: flex;
    flex-direction: column;
    margin-right: 450px;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero1{
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: rgb(0, 0, 107);
}
.ul-about{
    list-style-type: none;
}
.hero2{
    background-color: rgb(0, 0, 107);
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;   
}
.hero h2{
    padding-top: 5px;
}
.col img{
    width:150px ;
}

.hero3{
    background-color: rgb(255, 255, 255);
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 107);   
}
.hero3 h2{
    padding-top: 5px;
}
.col img{
    width:150px ;
}
.hero4{
    height: 400px;
    background-color: rgb(0, 0, 107);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.hero4 h2{
    text-align: center;
    color: #ffffff;
}
footer{
    background-color: #ffffff;
    height: 30px;
    text-align: center;
}
